.header__text-email{
  margin: 0;
  padding: 51px 0 0;
  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

@media (max-width: 890px){
  #nav {
    display: none;
  }
}

@media screen and (max-width: 890px){
  .header__text-email{
    padding-top: 0;
  }
}