.login__text{
  margin: 15px 0 0;
  padding: 0;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;  
  text-decoration: none;
  color: white;
}

.login__text:hover{
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 890px) {
  .login__text {
    margin-top: 20px;
  }
}