.header {
  margin: 0 auto;
  padding-top: 45px;

  max-width: 880px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 890px) {
  .header {
    padding-top: 28px;
    padding-left: 27px;
    min-height: 56px;
  }
}
